<div>
  <div style="display: flex; justify-content: space-between;">
    <h2>{{title}}近90日交易資訊</h2>
    <form action="/stock/{{stockId}}" method="post">
      <button class="btn btn-primary" type="submit">加入自選股</button>
    </form>
  </div>
  <canvas id="myChart" width="800" height="300"></canvas>
  <br>
  <h3>技術指標</h3>
  <canvas id="myChart-data-analysis" width="800" height="200"></canvas>
</div>

<br>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/stock/search?stockId={{stockId}}">Price</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="news" href="#">News</a>
  </li>
  <li class="nav-item">
    <div style="display: flex; align-items:center" id="kd-form" class="nav-link">
      <a href="#" style="margin-right: 10px; text-decoration-line: none;">KD分析</a>
      <i class="fa-solid fa-circle-exclamation" id="explanationBtn"></i>
    </div>
  </li>
</ul>
<div id="total" class="m-2"></div>
<div id="explanationContainer"></div>
<div id="table-container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">日期</th>
      <th scope="col">成交股數</th>
      <th scope="col">開盤價</th>
      <th scope="col">最高價</th>
      <th scope="col">最低價</th>
      <th scope="col">收盤價</th>
      <th scope="col">漲跌價差</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td>{{this.date}}</td>
        <td>{{this.volume}}</td>
        <td>{{this.open}}</td>
        <td>{{this.high}}</td>
        <td>{{this.low}}</td>
        <td>{{this.close}}</td>
        <td>{{this.diff}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
<script src="/javascripts/news.js"></script>
<script src="/javascripts/chart.js"></script>
<script src="/javascripts/kd-chart.js"></script>
<script src="/javascripts/kd-form.js"></script>
<script src="/javascripts/kd-form-explanation.js"></script>