<h2>{{title}}</h2>
<table class="table">
  <thead>
    <tr id="col">
      <th scope="col"><i class="fa-solid fa-sort btn" id="index"> #</i></th>
      <th><i class="fa-solid fa-sort btn"> 指數</i></th>
      <th><i class="fa-solid fa-sort btn" id="index-close"> 收盤指數</i></th>
      <th><i class="fa-solid fa-sort btn" id="fluctuations"> 漲跌</i></th>
      <th><i class="fa-solid fa-sort btn" id="fluctuations-percent"> 漲跌百分比</i></th>
    </tr>
  </thead>
  <tbody id="table-body">
    {{#each data}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td>{{this.指數}}</td>
        <td>{{this.收盤指數}}</td>
        <td>{{this.漲跌}} {{this.漲跌點數}}</td>
        {{#ifCondition this.漲跌百分比}}{{/ifCondition}}

      </tr>
    {{/each}}
  </tbody>
</table>
<script src="/javascripts/sort-index.js"></script>