<h2>{{title}}</h2>
<table class="table">
  <thead>
    <tr id="col">
      <th scope="col">#</th>
      <th>指數</th>
      <th style="padding-left: 0;"><i class="fa-solid fa-sort btn" id="index-close" style="padding-left: inherit;" data-sort="desc"> 收盤指數</i></th>
      <th style="padding-left: 0;"><i class="fa-solid fa-sort btn" id="fluctuations" style="padding-left: inherit;" data-sort="desc"> 漲跌</i></th>
      <th style="padding-left: 0;"><i class="fa-solid fa-sort btn" id="fluctuations-percent" style="padding-left: inherit;" data-sort="desc"> 漲跌百分比</i></th>
    </tr>
  </thead>
  <tbody id="table-body">
    {{#each data}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td>{{this.指數}}</td>
        <td>{{this.收盤指數}}</td>
        <td>{{this.漲跌}} {{this.漲跌點數}}</td>
        {{#ifCondition this.漲跌百分比}}{{/ifCondition}}

      </tr>
    {{/each}}
  </tbody>
</table>
<script src="/javascripts/sort-index.js"></script>