<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">股票代號</th>
      <th scope="col">股票名稱</th>
      <th scope="col">買進股數</th>
      <th scope="col">賣出股數</th>
      <th scope="col">買賣超股數</th>
      <th scope="col">加入自選股</th>
    </tr>
  </thead>
  <tbody>
    {{#if errMsg}}
      <h2>{{errMsg}}</h2>
    {{/if}}
    <h2>{{title}}</h2>
    {{#each transformedData}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.buy}}</td>
        <td>{{this.sell}}</td>
        <td>{{this.difference}}</td>
        <td>
          <form action="/stock/{{this.id}}" method="post">
            <button class="btn btn-primary" type="submit">+</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>