<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">股票代號</th>
      <th scope="col">股票名稱</th>
      <th scope="col">權重(%)</th>
      <th scope="col">        
        <form action="/stock/{{this.id}}" method="post">
          <button class="btn btn-primary" type="submit">加入自選股</button>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <th scope="row">{{addIndex @index}}</th>
        <td><a href="/stock/search?stockId={{this.id}}">{{this.id}}</a></td>
        <td><a href="/stock/search?stockId={{this.id}}">{{this.name}}</a></td>
        <td>{{this.weight}}</td>
        <td>
          <form action="/stock/{{this.id}}" method="post">
            <button class="btn btn-primary" type="submit">+</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>